body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#cc82e1, #a92fca);
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", Verdana, sans-serif;
}
img {
  display: inline-flex;
  width: 200px;
}
h1 {
  color: rgb(128, 32, 78);
  margin: 5px;
}
h2 {
  margin: 5px;
  color: rgb(128, 32, 78);
}
h3 {
  margin: 5px;
  color: white;
}
h4 {
  margin: 5px;
  color: white;
}
h5 {
  color: black;
  margin: 5px;
  font-style: italic;
}
.container {
  border-radius: 20px;
  width: 400px;
  padding-left: 5px;
  box-shadow: 4px 4px 50px #370246;
}
header {
  height: 130px;
  margin-bottom: 15px;
}

input:hover {
  background-color: rgb(128, 32, 78);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: rgb(128, 32, 78);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

#login {
  display: flex;
}
#login input {
  padding-top: 2px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.btns {
  display: inline-flex;
  border-radius: 10px;
  margin-top: 10px;
  height: 30px;
  width: 150px;
  justify-content: center;
  align-items: center;
}
btns:hover {
  background-color: rgb(128, 32, 78);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
#adicao {
  margin-top: 10px;
  display: none;
  border-bottom: solid 2px #440456;
  border-top: solid 2px #440456;
  width: 350px;
  padding-left: 10px;
  justify-content: center;
  align-items: center;
}

#adicionais {
  display: none;
}
#informativo {
  padding-left: 10px;
  border: solid 1px #440456;
  border-radius: 20px 500px 500px 20px;
  font-size: 8pt;
  display: none;
}
footer {
  padding: 0px 10px 0 10px;
  display: none;
  font-size: 8pt;
  margin: 0;
  font: bold;
}
#esconde_comprar_mais {
  display: none;
}

#welcome {
  display: none;
  padding-left: 60px;
  font-weight: bold;
}
.cabecalho {
  padding: 10px 10px 10px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr 1fr;
}
.imgcabeca {
  grid-row: 1 / -1;
  grid-column: 1 / 1;
}

.enderecocabeca {
  font-size: 8pt;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  grid-row: 1 /-1;
  grid-column: 2 / -1;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}
.cabecatitulo {
  margin: 0;
  grid-row: 1 / 1;
}
.cabecaendereco {
  margin: 0;
  grid-row: 2 / 2;
}
.cabecacidade {
  margin: 0;
  grid-row: 3 /3;
}
.cabecatelefone {
  margin: 0;
  grid-row: 4 / 4;
}
.tab-container {
  display: flex;
}
.tab {
  background-color: rgb(128, 32, 78);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100px;
  height: 25px;
  border: solid 1px;
  border-radius: 20px 10px 20px 0;
}
.tab:hover {
  background-color: #b96bcf;
}
.category {
  display: none;
}
#reshora {
  margin: 0;
  display: inline-flex;
}
#reshora2 {
  margin: 0;
  display: inline-flex;
}
#hdia {
  margin: 0;
  display: inline-flex;
}
#imagem_copo {
  margin-top: 10px;
}
#imagem_copo img {
  padding-left: 30px;
  width: 300px;
}
#imagem_marmita {
  padding-left: 30px;
  margin-top: 10px;
}
#imagem_marmita img {
  width: 300px;
}
#imagem_marmita:hover {
  cursor: pointer;
}
.imgdcab {
  margin-right: 5px;
  border-radius: 10px;
}
.enderecocabeca {
  margin-left: 5px;
  padding-top: 5px;
}
#personalizar_pedido {
  margin: 0;
  display: flex;
  padding: 5px;
}
.horas {
  margin-bottom: 5px;
  padding-left: 5px;
  font-weight: bolder;
  font-family: "Lucida Sans";
  color: rgb(2, 53, 2);
  font-weight: bold;
  font-size: 8pt;
}
.btn_s_n {
  display: inline-flex;
}
.btn_s_n button {
  margin: 10px;
}
#login {
  padding: 0 80px 0 80px;
}
#usuario {
  border-top: solid 1px #44274c;
  margin-right: 5px;
}
#usuario h5 {
  margin-left: 115px;
}
#enviar_dados {
  margin-left: 15px;
}
#imagem_copo {
  background-color: #a92fca;
  box-shadow: 10px 10px 100px #210129;
  width: 320px;
  border-radius: 20px;
  margin-left: 10px;
}
#imagem_copo img {
  border-radius: 20px 20px 20px 20px;
  margin-top: 5px;
  margin-right: 10px;
}

#imagem_marmita {
  background-color: #a92fca;
  box-shadow: 10px 10px 100px #210129;
  width: 320px;
  border-radius: 20px;
  margin-left: 10px;
}

#imagem_marmita img {
  border-radius: 20px 20px 20px 20px;
  margin-top: 5px;
  margin-right: 10px;
}
#limpar {
  display: none;
}
.sujestao {
  border: solid 2px #a92fca;
}
#mensagem {
  display: none;
}
.regiao{
  margin-bottom: 10px;
  margin-top: 3px;
  
}
#regiao_mensagem{
  color: #fff;
  font-weight: bold;
  background-color: black;
  padding-left: 10px;
  padding-right: 10px;
}

#escolha_regiao span{
  font-size: 8pt;
  position: relative;
  bottom:  2px;
}
#escolha_regiao #regiao_mensagem{
  font-size: 10pt;
}
#esconde_finalizar_carrinho{
  display: none;
}
#esconde_carrinho{
  display: none;
}
#carrinho{
  margin-top: 5px;
  border: solid 1px black;
  border-radius: 10px;
  display: block;
}
#carrinho ul{
  padding-left: 20px;

}
#carrinho li{
  padding-right: 10px;
}
#final {
  font-family: Cambria;
  display: none;
  margin: 0;
}
#final span{
  font-size: 9pt;
  position: relative;
  bottom: 3px;
  margin: 0;
  left: 10px;
}
#final h1{
  padding-left: 65px;
}
#final p{
  margin: 5px;
}
#mostrar_carrinho{
  display: inline-flex;
  position: relative;
  left: 50px;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  padding-left: 10px;
  padding-top: 10px;
  box-shadow: 4px 4px 50px #370246;
}
#contCarrinho{
  color: red;
  position: relative;
  top: 8px;
}